

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar-brand {
    padding: 0 15px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-form {
	display:none;
}